/* Styling for common elements, major sections of webpage. */
body {
    background-color: #b3e6ff;
    font-family: Arial, Helvetica, sans-serif;
}

#titleBackground {
    background-color: #ffb366;
    width: 585px;
    font-family: 'Trebuchet MS';
    border-radius: 10px;

}

.container {
  margin-left: 0px;
  margin-right: 0px;
  width: 100%;
}

/* Styling for titles */
.row {
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
    border-radius: 20px;
}

#title {
  padding-left: 1%;
  background-color: #ffb366;
}

#tableHeading {
  position: sticky;
  top: 0px;
  background-color: #ffb366;
}


#searchBar {
  width: 100%;
  positon: sticky
}

.tableWrapper {
  max-height: 400px;
  overflow: auto;
  background-color: white;
}

.listingsDisplay_row_delete {
    padding: 10px;
    border-radius: 50%;
    background-image: glyphicon-remove;

}

#toAdd_form {
    margin-top: 20px;
}

#add_button {
    align-content: center;
    border-radius: 20px;
    border-color: #00aaff;
    background-color: whitesmoke;
}

#delete_button {
    align-content: center;
    border-radius: 20px;
    border-color: #00aaff;
    background-color: whitesmoke;
}
.toAdd_textbox {
    width: 100%;
}

input[type = text] {
    width: 100%;
    border-radius: 4px;

}

.col-md-6 {
  background-color: #5cd6d6;
  font-family: Helvetica;
  padding: 20px;
}
#tableSection {
  border-radius: 50px 0px 50px 50px;
}

#detailedInfoSection {
  border-radius: 0px 50px 50px 0px;
}

.jumbotron {
    background-color: #5cd6d6;
    border-color: #3399ff;
    border-width: thick;
    font-family: Helvetica;
}

#detailedInfo {
    font-family: 'Trebuchet MS';
}
